# Store item demand forcasting

In [1]:
__author__ = "Zhiji Ding"
__copyright__ = "Copyright 2020, Zhiji Ding"
__email__ = "zhiji.ding@gmail.com"

In [2]:
# Module import
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as matplot
import seaborn as sns
%matplotlib inline

In [3]:
# load data
train_df=pd.read_csv('/Users/jimmyding/Downloads/demand_forecasting_kernels_only/train.csv')
test_df=pd.read_csv('/Users/jimmyding/Downloads/demand_forecasting_kernels_only/test.csv')

In [4]:
train_df.head()

         date  store  item  sales
0  2013-01-01      1     1     13
1  2013-01-02      1     1     11
2  2013-01-03      1     1     14
3  2013-01-04      1     1     13
4  2013-01-05      1     1     10

In [5]:
train_df[['store','item']].drop_duplicates().sort_values(by=['store','item']).tail()

        store  item
838134     10    46
856394     10    47
874654     10    48
892914     10    49
911174     10    50

In [6]:
train_df['store'].drop_duplicates().count()

10

In [7]:
train_df['item'].drop_duplicates().count()

50

In [8]:
train_df.isna().sum(axis=0)

date     0
store    0
item     0
sales    0
dtype: int64

The dataset seems either cleaned or simulated. Thus, no further cleaning is required.
## EDA

In [9]:
df_train=train_df
df_train['date']=pd.to_datetime(df_train['date'])
df_train['week_day']=df_train['date'].dt.dayofweek
df_train['month']=df_train['date'].dt.month
df_train=df_train.set_index(['date'])

df_train.head()

            store  item  sales  week_day  month
date
2013-01-01      1     1     13         1      1
2013-01-02      1     1     11         2      1
2013-01-03      1     1     14         3      1
2013-01-04      1     1     13         4      1
2013-01-05      1     1     10         5      1

In [10]:
import ipywidgets as widgets
from IPython.display import display
from typing import Union, Dict, List, Callable

def update_ts_simple(s_num=1, i_num=1):
    fig, ax = plt.subplots(3, figsize = (12, 12))
    df_train.query('item == @i_num')['sales'].resample('W').mean().plot(ax = ax[0])
    sns.boxplot(x='month',y='sales',data=df_train,ax=ax[1])
    sns.boxplot(x='week_day',y='sales',data=df_train,ax=ax[2])
    
    ax[0].set_title('item {}'.format(i_num))
    ax[1].set_title('Monthly pattern')
    ax[2].set_title('Weekly pattern')
    
    fig.suptitle('Sales Volume TS')
    fig.tight_layout(rect=[0, 0, 1, 0.94])
    fig.canvas.draw()
    fig.show()

In [11]:
#s_slider = widgets.IntSlider(value=1, min=1, max=10, continuous_update=False, description='store', layout={'width': '3in', 'height': '1in'})

i_slider = widgets.IntSlider(value=1, min=1, max=50, continuous_update=False, description='item', layout={'width': '8in', 'height': '1in'})

ui = widgets.HBox([i_slider], layout={'min_width': '12in'})
out = widgets.interactive_output(update_ts_simple, {'i_num': i_slider})
display(ui, out)

HBox(children=(IntSlider(value=1, continuous_update=False, description='item', layout=Layout(height='1in', widâ€¦

Output()

There exists annually, monthly and weekly trends.